# Thư mục thư viện (Rất nặng, không nên đẩy lên)
node_modules/

# File chứa mã kết nối Database và mã bí mật (Bảo mật)
.env

# Các file rác của hệ điều hành
.DS_Store
Thumbs.db

# Thư mục build hoặc log (nếu có)
npm-debug.log*
yarn-debug.log*
yarn-error.log*